<div class="centerTitle"><%=title%></div><br/>

<div id="mainpan">
	<div class="mblock"><div class="inmblock">
	<ul>
<%
	if(postlist.length==0) {
%>
		There's no post in this category 
<%
	}
	for(var i=0;i<postlist.length;i++){
%>
		<li><a href="/postview/<%=postlist[i]._id%>?lcate=<%=lcate%>">
				<%=postlist[i].date1%> <%=postlist[i].postTitle%>
			</a></li>
<%		
	}
%>
	</ul>
	</div></div>
</div>